<!DOCTYPE html>
<html lang="en" class="route-documentation">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spotify Slack Status</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" media="screen">
  <link rel="stylesheet" href="/main.css" media="screen">
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Spotify Slack Status</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container content">
      <p>You are signed in as <strong><%= @user.email %></strong>.</p>
      <% if @team_name.present? %>
        <p>
          You are authenticated with the
          <% if @team_image.present? %>
            <img class="avatar" src="<%= @team_image %>" alt="<%= @team_name %> icon" width="22" height="22">
          <% end %>
          <strong><%= @team_name %></strong>
          team on Slack.
        </p>
      <% end %>
      <% if @currently_playing.present? %>
        <p>
          Listening to: <%= @currently_playing %>
        </p>
        <form method="POST" action="/update-status">
          <input type="hidden" name="status" value="Listening to: <%= @currently_playing.gsub(/"/, "'") %>">
          <button type="submit" class="button is-primary">
            Update Slack Status
          </button>
        </form>
      <% end %>
    </div>
  </section>
</body>
</html>
